<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="">
    </div>
    <div class="heading">
        <h2>Smoothie Recipes</h2>
        <h3>By Ninja Smoothies for Ninja</h3>
        <a href="/smoothies" class="btn">View Recipes</a>
    </div>
</header>

<%- include('partials/footer'); -%>